@charset "utf-8";
/* 
 * Reset and Base
 */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

img, a img, html, body {
  border: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, em {
  font-size: 100%;
  font-weight: normal;
}

body {
  word-wrap: break-word;
  font: 14px/25px "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  color: #34495e;
}

a{
  cursor: pointer;
  outline: 0;
  star: expression(this.onFocus=this.blur());
}

a, a:hover {
  text-decoration: none;
}

.box:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: '.';
}

.box {
  zoom: 1;
}

a, .m-title img, .img img{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


.m-title a:hover img, .img:hover img, .m-cstmttl a:hover img {
  opacity: .7;
  filter: alpha(opacity=70);
}

/* all bg-imgs */

/*
 * Grid
 */
html, body {
  height: 100%;
}

.g-doc {
  min-height: 100%;
  _height: 100%;
  border: 10px solid #ededed;
}

.g-docc {
  margin: 0 auto;
  padding: 40px 0;
}

.g-hd {
  text-align: center;
}

/*
 * Modules
 */
/* hd */
.m-title img {
  width: 128px;
  height: 128px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  vertical-align: middle;
}

.m-title h1 {
  margin: 30px 0 0;
}

.m-title h1 a, .m-title h1 a:hover {
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 3px;
}

.m-title h1 a:hover {
  opacity: .7;
}

.m-about {
  width: 648px;
  margin: 66px auto 0;
}

.m-nav {
  margin: 46px 0 0;
}

.m-nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 20px 8px 0;
}

.m-nav a {
  display: inline-block;
  padding: 6px 12px;
  background: #fff;
  font-size: 12px;
}

.m-nav a:hover {
  color: #fff;
}